<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <title>Hello, world!</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Hospital Materno Infantil Irapuato
          <img src="https://cdn.icon-icons.com/icons2/807/PNG/512/hospital-1_icon-icons.com_66068.png" alt="" width="45" height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/tabla">Registros</a>
            </li>
          </ul>
        </div>
      </div>
  </nav>
    </nav>

    <div class="container mt-4">
      <div class="card border-secondary">
          <div class="card-header">Agregar Nuevos Registros</div>
          <div class="card-body">
              <form action="/save" method="POST">
                  <div class="mb-3">
                      <label for="user" class="form-label">Nombre</label>
                      <input type="text" class="form-control" name="user" id="user" tabindex="1" required>
                  </div>

                  <div class="mb-3">
                      <label for="user" class="form-label">Rol</label>
                      <select name="rol" id="rol" class="form-select" required>
                          <option value="admin" selected>Admin</option>
                          <option value="data entry">Data entry</option>
                      </select>
                  </div>

                  <div class="mb-3">
                    <label for="FechaSolicitada" class="form-label">Fecha Solicitada</label><br>
                    <input type="date" name="FechaSolicitada" id="FechaSolicitada" required><br> 
                  </div>

                  <div class="mb-3">
                    <label for="rfc" class="form-label">RFC</label><br>
                    <input type="text" name="rfc" id="rfc" required><br> 
                  </div>

                  <div class="mb-3">
                    <label for="Nempleado" class="form-label">Numero de empleado</label><br> 
                    <input type="number" name="Nempleado" id="Nempleado" required>
                  </div>

                  <div class="mb-3">
                    <label for="lugar" class="form-label">Lugar</label><br> 
                    <input type="text" name="lugar" id="lugar" value="Irapuato, Gto" readonly="readonly"> 
                  </div>

                  <div class="mb-3">
                    <label for="DiasSol" class="form-label">Dias solicitados</label><br> 
                    <input type="number" name="DiasSol" id="DiasSol" required>
                  </div>

                  <div class="mb-3">
                    <label for="DiasRes" class="form-label">Dias restantes</label><br> 
                    <input type="number" name="DiasRes" id="DiasRes" readonly="readonly" >
                  </div>

                  <button type="submit" class="btn btn-primary" tabindex="5">Guardar</button>
                  <a href="/" class="btn btn-secondary">Cancelar</a>
              </form>
          </div>
      </div>
  </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>