<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Materno Infantil</title>
    <link rel="stylesheet" href="estilos de contacto.css">
</head>
<body>
  
  <div class="container-xxl">
  
  <header>
        <hr><h1 Style="background:#FF7B54; color: hsl(0, 0%, 0%)"><b><center>HOSPITAL MATERNO INFANTIL</center></b> <hr></h1>
    </header>

    <form action="">
       
     <div>
        <h4>Irapuato, Gto. A: <input type="number" name="Dia" placeholder="Dia"> De: <input type="number" name="Mes" placeholder="Mes"> Del: <input type="number" name="Año" placeholder="Año"></h4>
        <hr>

        <h4>RFC: <input type="number" name="RFC" placeholder="Ponga su RFC"> No. De Control de Asistencia: <input type="number" name="Asistencia" placeholder="Numero de Control de Asistencia"
        <hr>

        <h4>Nombre: <input type="text" name="Nombre" placeholder="Coloque su Nombre">
        <hr>

        <h4>Horario: <input type="number" name="Horario" placeholder="Ponga su Horario">
        <hr>

        <h4>Departamento/Area: <input type="text" name="DepAr" placeholder="Departamento o Area al que pertenece">
        <hr>

        <h4>Fecha del Permiso: <input type="date" name="Permiso" placeholder="Fecha en que pidio el permiso"> OBSERVACIONES: <textarea name="mensaje" placeholder="Escribe aqui tus observaciones"></textarea>
        <hr>
     </div>
     <div>
        <h4>Permiso de Salida: <input type="checkbox" name="PSalida"> 
            <input type="radio" name="Oficial" id="ofi"
                <label for="ofi">Oficial</label> 

                <input type="radio" name="Personal" id="pe"
                <label for="pe">Personal</label>
                
                <input type="radio" name="Especial" id="esp"
                <label for="esp">Especial</label></h4>
                <hr>

      </div>
      <div>
        <h4>Salida: <input type="number" name="Salida" placeholder="Hora de Salida"> Regreso: <input type="number" name="Regreso" placeholder="Hora de Regreso"> Tiempo Transcurrido: <input type="number" name="Tiempo" placeholder="Tiempo Transcurrido"></h4>
        <hr> 
      </div>
      <div>
          <h4>Permiso Economico: <input type="checkbox" name="Economico">
            Si <input type="text" name="si" placeholder="si">
        </h4>
      </div>
      <div>
        <h4>Dias Solicitados en el Año:  <input type="number" name="diasaño" placeholder="Dias Solicitados (Año)"> Pendientes: <input type="text" name="Pendientes" placeholder="Agrega los Pendientes que Tienes">    </h4>
      </div>
      <div>
        <h4>Onomastico: <input type="checkbox" name="Ono">
             Pago de Tiempo Extra: <input type="checkbox" name="tiempoex"
        </h4>

      </div>
      <button onclick="imprimir()">Imprimir formato</button>
    </form>
  </div> 

  <script>
    function imprimir(){
      window.print();
    }
  </script>


</body>
</html>